meta(charset='utf-8')
block title
	title 2b2t Clients
block description
	meta(name='description', content='Public listing of up-to-date information on a number of Minecrack utility mods. ')

//- Device/SEO meta
meta(name='viewport', content='width=device-width, initial-scale=1.0,viewport-fit=cover')
meta(name='keywords', content='2b2t.org,fitmc,salc1,minecraft,2b2t,minecraft,anarchy,hack,clients,cheat,elytrafly,boatfly,crystalaura,killaura,future,impact,client,kami,rusherhack,thecampingrusher,hausemaster,dupe')
meta(name='author', content='tycrek')

//- Author Mailto & Icon
link(rel='author', href='mailto:josh.moore@jmoore.dev')
link(rel='icon', href='/images/icons/favicon.ico', type='image/x-icon')
link(rel='icon', href='/images/icons/favicon-32x32.png', type='image/png')

//- Google & Apple
meta(name='google', content='nositelinkssearchbox notranslate')
