.client-section {
	border: 1px solid silver;
	border-radius: 15px;
	max-width: 600px;
	padding: 4px 32px;

	a {
		font-weight: bold;
	}
}

p.description {
	padding: 16px;
	text-align: left;
}

table.client {
	width: 100%;
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
	.left {
		text-align: right;
	}
	.right {
		text-align: left;
	}
	.trow:nth-child(even) { background-color: #5E5E5E; }
	.trow:nth-child(odd) { background-color: #4E4E4E; }
	td {
	  border-collapse: collapse;
	  padding: 8px;
	}
}
