extends ../_main
block content
	center: .primary
		h1 <i class="fal fa-construction"></i> Site under construction!
		p Please check back soon for more information :D
		p If you wish to help with this site, open an Issue or Pull Request on #[a(href='https://github.com/tycrek/2b2tclients.org' target='_blank') GitHub] or send me DM on Discord: #[code @tycrek#0001]
		.row
			.col-6.client-panel: center
				h2 Free clients
				each client in data.free
					+clientSection(client)
			.col-6.client-panel: center
				h2 Paid clients
				each client in data.paid
					+clientSection(client)
	center: h6 Client descriptions taken from #[a(href='https://2b2t.miraheze.org/wiki/Cheat_Clients' target='_blank'): strong 2b2t Wiki]
	center: h6 Site created by #[strong tycrek] (#[a(href='https://jmoore.dev' target='_blank'): strong Website] & #[a(href='https://github.com/tycrek' target='_blank'): strong GitHub])
block append scripts
	//- Links to any extra external or inline scripts/stylesheets.
		Can use either block to replace all defaults (not recommended!)
		Or can use append to add on to existing defaults (recommended).

//- Checklist:
	1. Properly extends _main?
	2. Page has a Title?
	3. Page has a manifest (if required)?
	4. Page has content (leave blank for coming soon)?
	5. Page has scripts/styles if needed?
	6. Page has relevant Sass?
	7. Page is working both mobile & desktop?