body, #primary-row {
  @include device('desktop') {
    padding-top: 32px;
  }
  //cursor: url(/images/cursor.png),auto;
  background-color: #424242;
  @include device('desktop') {
    //height: 100vh;
  }
}

.desktop, .mobile {
  @include mdswitch(block);
}

.primary {
  max-width: 1600px;
}