/* google-webfonts-helper.herokuapp.com */
/* sarabun-regular - latin */
@font-face {
  font-family: 'Sarabun';
  font-style: normal;
  font-weight: 400;
  src: local('Sarabun Regular'), local('Sarabun-Regular'),
       url('/fonts/sarabun-v7-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/sarabun-v7-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* sarabun-700 - latin */
@font-face {
  font-family: 'Sarabun';
  font-style: normal;
  font-weight: 700;
  src: local('Sarabun Bold'), local('Sarabun-Bold'),
       url('/fonts/sarabun-v7-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/sarabun-v7-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* sansita-regular - latin */
@font-face {
  font-family: 'Sansita';
  font-style: normal;
  font-weight: 400;
  src: local('Sansita Regular'), local('Sansita-Regular'),
       url('/fonts/sansita-v4-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/sansita-v4-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* sansita-700 - latin */
@font-face {
  font-family: 'Sansita';
  font-style: normal;
  font-weight: 700;
  src: local('Sansita Bold'), local('Sansita-Bold'),
       url('/fonts/sansita-v4-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/sansita-v4-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* work-sans-regular - latin */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Work Sans'), local('WorkSans-Regular'),
       url('/fonts/work-sans-v5-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/work-sans-v5-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* work-sans-700 - latin */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Work Sans Bold'), local('WorkSans-Bold'),
       url('/fonts/work-sans-v5-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/work-sans-v5-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


body {
  color: #EEEEEE;
  //font-family: 'THSarabunNew', Verdana, Geneva, Tahoma, sans-serif;
  font-family: 'Work Sans', Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  font-style: normal;
}

.monospace {
  font-family: monospace;
  font-size: 0.75em;
  background-color: #546E7A;
  padding: 5px;
}


#content {
  font-size: 1.25rem;
  h1 { font-size:    4rem; } // h1 { font-size: 2em; }
  h2 { font-size:    3rem; } // h2 { font-size: 1.5em; }
  h3 { font-size: 2.34rem; } // h3 { font-size: 1.17em; }
  h4 { font-size:    2rem; } // h4 { font-size: 1em; }
  h5 { font-size: 1.66rem; } // h5 { font-size: .83em; }
  h6 { font-size: 1.34rem; } // h6 { font-size: .67em; }
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Sansita', Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
  }
}

/*
  links.css - v0.0.1 - "Smarter defaults for links"
   License MIT
*/
a {
  transition: color .4s;
  //color: #00BCD4;
  color: #B0BEC5;
  outline: 0;
  text-decoration: none;

  #icon {
    color: #EEE;
  }
}
a:link, a:visited {
  //color: #00BCD4;
  color: #B0BEC5;
}
a:hover {
  //color: #80DEEA;
  color: #CFD8DC;
}
a:active {
  transition: color .3s;
  //color: #00838F;
  color: #90A4AE;
}